.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Login Page CSS */

.login-page {
  width: 100vw;
}

.header-text {
  font-size: 1em;
}

/* Areas Page Header CSS */

.areas-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FFB4B1;
}

.header-text-area {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  margin: 1%;
  width: 100%;
}

.sign-out-btn {
  font-size: 0.6em;
  border-radius: 4px;
  cursor: pointer;
  background-color: #FFFAF1;
  border: solid 1px #004385;
}

.sign-out-btn:hover {
  background-color: #077380;
}
