.listing-cards {
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
  width: 40%;
  border-radius: 4px;
  border: 1px solid #004385;
  background-color: #BFD7EA;
}

.listing-name {
  font-size: 0.7em;
}

.view-details-btn {
  font-size: 0.5em;
  border-radius: 4px;
  background-color: #FFFAF1;
  border: 1px solid #004385;
}

.view-details-btn:hover {
  cursor: pointer;
  background-color: #077380;
}
