.areas-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.area-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #FFFAF1;
  width: 75%;
}

.area-card {
  display: flex;
  justify-content: center;
  margin: 2%;
  width: 45%;
  height: 40%;
  border: 1px solid #004385;
  border-radius: 4px;
}
