.Areas {


}

.areas-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid green

}

.area-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 75%;
}

.area-card {
    display: flex;
    margin: 2%;
    width: 45%;
    height: 45%; 
    border: 1px solid blue
}