.areas-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.area-container {
  background-color: #FFFAF1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}

.area-card {
  border: 1px solid #004385;
  border-radius: 4px;
  display: flex;
  height: 40%;
  justify-content: center;
  margin: 2%;
  width: 45%;
}
