.login-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  background-image: url('https://masa.imgix.net/https%3A%2F%2Fscontent-frt3-1.cdninstagram.com%2Fv%2Ft51.2885-15%2Fe35%2F20986700_168319833736143_4921893102282604544_n.jpg%3F_nc_ht%3Dscontent-frt3-1.cdninstagram.com%26_nc_cat%3D103%26_nc_ohc%3DHyFjQsabEawAX8N6m1B%26oh%3Dac15ddbd7f22ce99fd7008e749b2a524%26oe%3D5ECBC824?auto=format&s=2bc611f4ca4a9f580d5b87ee91fa1663');
  background-repeat: no-repeat;
  background-size: 100vw 90vh;
  height: 100vh;
  width: 100%;
}

form {
  align-self: center;
  background-color: #FFFAF1;
  border: solid 2px #004385;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  margin-top: 10%;
  width: 40%;
}

p {
  font-size: 0.8em;
  margin: 1% 2% 1% 0;
}

.name-input,
.email-input {
  background-color: #FFB4B1;
  border: solid 1px #004385;
  border-radius: 3px;
}

.email-input {
  margin-left: 1%;
}

.name-form,
.email-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20%;
  justify-content: center;
}

.purpose-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2% 0 3% 0;
}

select {
  background-color: #FFB4B1;
  border: solid #004385 1px;
  cursor: pointer;
}

.sign-in-btn {
  align-self: center;
  background-color: #FFB4B1;
  border: solid #004385 1px;
  border-radius: 3px;
  cursor: pointer;
  width: 50%;
}

.sign-in-btn:hover {
  background-color: #05B2DC;
}
